@charset "UTF-8";
input#num1, input#num2 {
	width : 10em;
}
#num1:focus, #num2:focus, #sign:focus {
	background-color:azure;
}
#num1:hover, #num2:hover, #sign:hover {
	background-color:greenyellow;
}
input#num1, input#num2, input#result {
	width : 15vh;
}