<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DAO인터페이스와 매핑 -->
<mapper namespace="net.softsociety.aimori.dao.AdministratorDAO">
	<select id="getMemberList" resultType="Member">
		SELECT *
		FROM Members
	</select>
	
	<update id="changeBlock" parameterType="member">
		UPDATE Members
		SET memberEnabled = #{memberEnabled}
		WHERE memberId = #{memberId}
	</update>

	<update id="changeRole" parameterType="member">
		UPDATE Members
		SET memberRoleName = #{memberRoleName}
		WHERE memberId = #{memberId}
	</update>
	
	<select id="getReportedBoard" resultType="ReportedBoard">
		SELECT r.memberid, r.boardnumber,
		        (SELECT boardCategory FROM board WHERE boardnumber = r.boardnumber) boardCategory,
				(SELECT boardtitle FROM board WHERE boardnumber = r.boardnumber) boardTitle,
				(SELECT boardinputdate FROM board WHERE boardnumber = r.boardnumber) boardInputdate,
				r.reportcategory,
		COUNT(r.boardnumber) AS reportCount
		FROM reportdata r
		GROUP BY r.boardnumber, r.reportcategory, r.memberid
		ORDER BY r.boardnumber, r.reportcategory
	</select>
</mapper>