<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DAO인터페이스와 매핑 -->
<mapper namespace="net.softsociety.aimori.dao.AdministratorDAO">
	<select id="getMemberList" resultType="Member">
		SELECT 
			memberId
			, memberNickName
			, memberAddress
			, memberEmail
			, memberBirthDay
			, TO_CHAR(memberJoinDate, 'YYYY-MM-DD') memberJoinDate
			, memberPoint
			, memberEnabled
			, memberRoleName
		FROM Members
	</select>
	
	<update id="changeBlock" parameterType="member">
		UPDATE Members
		SET memberEnabled = #{memberEnabled}
		WHERE memberId = #{memberId}
	</update>

	<update id="changeRole" parameterType="member">
		UPDATE Members
		SET memberRoleName = #{memberRoleName}
		WHERE memberId = #{memberId}
	</update>
	
	<select id="getReportedBoard" resultType="ReportedBoard">
		SELECT r.memberId, r.boardNumber, r.questionNumber,
	        (SELECT boardCategory FROM board WHERE boardNumber = r.boardNumber) boardCategory,
	        (SELECT questionCategory FROM question WHERE questionNumber = r.questionNumber) questionCategory,
			(SELECT boardTitle FROM board WHERE boardNumber = r.boardNumber) boardTitle,
	        (SELECT questionTitle FROM question WHERE questionNumber = r.questionNumber) questionTitle,
			(SELECT boardInputDate FROM board WHERE boardNumber = r.boardNumber) boardInputdate,
	        (SELECT questionInputDate FROM question WHERE questionNumber = r.questionNumber) questionInputdate,
			r.reportCategory,
	        COUNT(r.boardNumber) AS reportBCount,
	        COUNT(r.questionNumber) AS reportQCount
		FROM reportData r
		GROUP BY r.boardNumber, r.questionNumber, r.reportCategory, r.memberId
		ORDER BY r.boardNumber, r.questionNumber, r.reportCategory
	</select>
	
	<select id="getJoinNumber" resultType="DateJoinNumber">
		SELECT TO_CHAR(memberJoinDate, 'YYYY-MM-DD') AS joinDate, COUNT(*) AS memberJoinCount
		FROM members
		WHERE memberJoinDate BETWEEN SYSDATE-7 AND SYSDATE
		GROUP BY TO_CHAR(memberJoinDate, 'YYYY-MM-DD')
		ORDER BY TO_CHAR(memberJoinDate, 'YYYY-MM-DD') ASC
	</select>

	<select id="getDogType" resultType="PetTypeNNumber">
		SELECT petBreed, COUNT(petBreed) AS petBreedCount
		FROM pet
		GROUP BY petBreed
	</select>
	
	<select id="countBlockedUser" resultType="int">
		SELECT COUNT(memberEnabled)
		FROM members
		WHERE memberEnabled = 0
	</select>
	
	<select id="printUserRoleAjax" resultType="Member">
		SELECT memberId
		FROM members
		WHERE memberRoleName = 'ROLE_ADMIN'
	</select>
</mapper>