<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.aimori.dao.BoardDAO">

<!-- 게시글 저장 -->
<insert id="boardInsert" parameterType="Board">
	insert into BOARD (
		boardNumber
		, memberId
		, boardTitle
		, memberNickName
		, boardContents
		, boardCategory
		)
	values (
		boardNumber_seq.nextval
		, #{memberId}
		, #{boardTitle}
		, #{memberNickName}
		, #{boardContents}
		, #{boardCategory}
		)
</insert>

<!-- 게시글 읽기 -->
<select id="boardList" parameterType="map" resultType="Board">
	select
		boardNumber
		, memberId
		, boardTitle
		, memberNickName
		, to_char(boardInputDate, 'YYYY-MM-DD') boardInputDate
		, to_char(boardInputDate, 'YYYY-MM-DD HH24:MI:SS') boardInputDateDetail
		, boardHits
		, boardLiked
		, boardReport
		, boardContents
		, boardCategory
		, boardImageOriginal
		, boardImageSaved
	from
		Board
	order by boardInputDateDetail desc
</select>

<!-- 게시글 읽기 -->
<select id="boardRead" parameterType="int" resultType="Board">
	select
		boardNumber
		, memberId
		, boardTitle
		, memberNickName
		, to_char(boardInputDate, 'YYYY-MM-DD') boardInputDate
		<!-- , to_char(boardInputDate, 'YYYY-MM-DD HH24:MI:SS') boardInputDate -->
		, boardHits
		, boardLiked
		, boardReport
		, boardContents
		, boardCategory
		, boardImageOriginal
		, boardImageSaved
	from
		Board

	where 
		boardNumber = #{boardNumber}
</select>

<!-- 조회수 1 증가 -->
<update id="updateHits" parameterType="int">
	update
		Board
	set
		boardHits = boardHits + 1
	where
		boardNumber = #{boardNumber}
</update>

<!-- 좋아요 1 추가 -->
<update id="boardRecommend" parameterType="int">
	update
		Board
	set
		boardLiked = boardLiked + 1
	where
		boardNumber = #{boardNumber}
</update>

<!-- 좋아요 출력 -->
<select id="boardSelectRecommend" parameterType="int" resultType="int">
	select boardLiked
	from Board
	where boardNumber = #{boardNumber}
</select>

<!-- 전체 글 개수 (검색 필터링 후) -->
<select id="countBoard" parameterType="map" resultType="int">
	select 
		count(boardNumber)
	from 
		Board
</select>

<!-- 글 수정 -->
<update id="boardUpdate" parameterType="Board">
	update
		Board
	set
		boardTitle = #{boardTitle}
		, boardContents = #{boardContents}
		, boardCategory = #{boardCategory}
		<if test="boardImageOriginal != null and boardImageSaved != null">
		, boardImageOriginal = #{boardImageOriginal}
		, boardImageSaved = #{boardImageSaved}
		</if>
	where
		boardNumber = #{boardNumber}
		<!-- and memberid = #{memberid} -->
</update>

<!-- 글 삭제 -->
<delete id="boardDelete" parameterType="Board">
	delete from
		Board
	where
		boardNumber = #{boardNumber}
		<!-- and memberId = #{memberId} -->
</delete>

</mapper>
