<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DAO인터페이스와 매핑 -->
<mapper namespace="net.softsociety.aimori.dao.ChallengeDAO">
	<insert id="writechallenge" parameterType="string">
	</insert>

	<select id="challengeList" parameterType="map"
		resultType="Challenge">
		select
		challengenumber
		,challengename
		,challengestartdate
		,challengeenddate
		,challengecontents
		,challengeregistday
		from
		challenge
		where
		challengetype='challenge'
	</select>

	<select id="contestList" parameterType="map"
		resultType="Challenge">
		select
		challengenumber
		,challengename
		,challengestartdate
		,challengeenddate
		,challengecontents
		,challengeregistday
		from
		challenge
		where
		challengetype='contest'
	</select>

	<select id="countChallenge" parameterType="map" resultType="int">
		select
		count(challengenumber)
		from
		challenge
		where
		challengetype='challenge'
		<if test="chtype != null and chsearchWord != null">
			<if test="chtype == 'challengeName'">
				and challengeName like '%' || #{chsearchWord} || '%'
			</if>	
			<if test="chtype == 'all'">
				and challengeName like '%' || #{chsearchWord} || '%'  
			</if>	
			</if>
	</select>

	<select id="countContest" parameterType="map" resultType="int">
		select
		count(challengenumber)
		from
		challenge
		where
		challengetype='contest'
				<if test="cotype != null and cosearchWord != null">
			<if test="cotype == 'challengeName'">
				and challengeName like '%' || #{cosearchWord} || '%'
			</if>	
			
			<if test="type == 'all'">
				and challengeName like '%' || #{cosearchWord} || '%'
			</if>	
			</if>
	</select>
	
	<select id="readChallenge" parameterType="int" resultType="Challenge">
	select
	challengeNumber,
	challengename,
	challengecontents,
	challengestartdate,
	challengeenddate,
	challengeregistday
	from challenge
	where challengenumber=#{challengeNumber}

	</select>
	
	<select id="getEntrylist" parameterType="int" resultType="Entrylist">
	select * from entrylist
	where challengenumber=#{challengeNumber}
	</select>

	<update id="giveMemberPoint" parameterType="map">
	update members
	set
	memberpoint=memberpoint+#{point}
	where
	memberid=#{memberId}
	</update>

	<update id="giveEntrylistPoint" parameterType="map">
	update entrylist
	set
	getPoint=#{point},
	getPointDate=sysdate
	where
	entrylistnumber=#{entrylistNumber}
	</update>
	
	<insert id="writeChallenge" parameterType="Challenge">
	insert into challenge
	(
	challengenumber,
	challengename,
	challengeenddate,
	challengestartdate,
	challengecontents,
	challengetype,
	challengeregistday
	)
	values
	(
	challengenumber_sql.nextval,
	#{challengeName},
	#{challengeEndDate},
	#{challengeStartDate},
	#{challengeContents},
	'challenge',
	sysdate
	) 
	</insert>
	
</mapper>