<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Title -->
<title>Board</title>

<!-- Favicon -->
<link rel="icon" th:href="@{/img/core-img/favicon.ico}">

<!-- Core Stylesheet -->
<link rel="stylesheet" th:href="@{/css/style.css}">

<!-- Responsive CSS -->
<link th:href="@{/css/responsive/responsive.css}" rel="stylesheet">

<!-- test -->
<link rel="stylesheet" type="text/css" th:href="@{/css/board/board.css}" />

<style>
.ck-editor__editable {
	height: 400px;
}

.ck-content {
	font-size: 12px;
}
</style>


<!-- test (페이지 함수) -->

<script>
	//글수정폼 유효성 검사
	function validation() {
		let title = document.getElementById('title');
		let contents = document.getElementById('contents');

		if (title.value.length < 2) {
			alert("제목을 입력하세요.");
			title.focus();
			title.select();
			return false;
		}
		if (contents.value.length < 2) {
			alert("내용을 입력하세요.");
			contents.focus();
			contents.select();
			return false;
		}
		return true;
	}
</script>

</head>

<body>
	<!-- Preloader Start -->
	<div id="preloader">
		<div class="yummy-load"></div>
	</div>

	<!-- ****** Top Header Area Start ****** -->
	<div class="top_header_area">
		<div class="container">
			<div class="row">
				<div class="col-5 col-sm-6">
					<!--  Top Social bar start -->
					<div class="top_social_bar">
						<a href="https://facebook.com"><i class="fa fa-facebook"
							aria-hidden="true"></i></a> <a href="https://twitter.com"><i
							class="fa fa-twitter" aria-hidden="true"></i></a> <a
							href="https://linkedin.com"><i class="fa fa-linkedin"
							aria-hidden="true"></i></a> <a href="https://skype.com"><i
							class="fa fa-skype" aria-hidden="true"></i></a> <a
							href="https://dribbble.com"><i class="fa fa-dribbble"
							aria-hidden="true"></i></a>
					</div>
				</div>
				<!--  Login Register Area -->
				<div class="col-7 col-sm-6">
					<div
						class="signup-search-area d-flex align-items-center justify-content-end">
						<div class="login_register_area d-flex">
							<div class="login">
								<a href="register.html">로그인</a>
							</div>
							<div class="register">
								<a href="register.html">회원가입</a>
							</div>
						</div>
						<!-- Search Button Area -->
						<div class="search_button">
							<a class="searchBtn" href="#"><i class="fa fa-search"
								aria-hidden="true"></i></a>
						</div>
						<!-- Search Form -->
						<div class="search-hidden-form">
							<form action="#" method="get">
								<input type="search" name="search" id="search-anything"
									placeholder="Search Anything..."> <input type="submit"
									value="" class="d-none"> <span class="searchBtn"><i
									class="fa fa-times" aria-hidden="true"></i></span>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ****** Top Header Area End ****** -->

	<!-- ****** Header Area Start ****** -->
	<header class="header_area">
		<div class="container">
			<div class="row">
				<!-- Logo Area Start -->
				<div class="col-12">
					<div class="logo_area text-center">
						<a th:href="@{/}" class="yummy-logo">AIMORI</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-lg">
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#yummyfood-nav"
							aria-controls="yummyfood-nav" aria-expanded="false"
							aria-label="Toggle navigation">
							<i class="fa fa-bars" aria-hidden="true"></i> Menu
						</button>
						<!-- Menu Area Start -->
						<div class="collapse navbar-collapse justify-content-center"
							id="yummyfood-nav">
							<ul class="navbar-nav" id="yummy-nav">
								<li class="nav-item active"><a class="nav-link"
									th:href="@{/board/list}">커뮤니티 <span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item dropdown"><a
									class="nav-link dropdown-toggle" href="#" id="yummyDropdown"
									role="button" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">Pages</a>
									<div class="dropdown-menu" aria-labelledby="yummyDropdown">
										<a class="dropdown-item" href="#">1</a> <a
											class="dropdown-item" href="#">2</a> <a class="dropdown-item"
											href="#">3</a> <a class="dropdown-item" href="#">4</a> <a
											class="dropdown-item" href="#">5</a>
									</div></li>
								<li class="nav-item"><a class="nav-link"
									th:href="@{/facilities}">시설</a></li>
								<li class="nav-item"><a class="nav-link" href="#">상품</a></li>
								<li class="nav-item"><a class="nav-link" href="#">챌린지</a></li>
								<li class="nav-item"><a class="nav-link" href="#">포인트상점</a>
								</li>
								<li class="nav-item"><a class="nav-link" href="#">Contact</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ****** Header Area End ****** -->

	<!-- ****** Breadcumb Area Start ****** -->
	<div class="breadcumb-area"
		style="background-image: url(../img/bg-img/breadcumb.jpg);">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-12">
					<div class="bradcumb-title text-center">
						<h2>Aimori Community~~!!</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="breadcumb-nav">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/home}"><i
									class="fa fa-home" aria-hidden="true"></i>Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Aimori
								Community</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- ****** Breadcumb Area End ****** -->

	<!-- ****** Archive Area Start ****** -->

	<section>
		<div class="container">
			<!-- 바이너리 데이터 포함되는 폼. enctype 반드시 정확히 지정 -->
			<form th:action="@{/board/update}" method="post"
				enctype="multipart/form-data" onsubmit="return validation();">

				<input type="hidden" name="boardNumber"
					th:value="${board.boardNumber}">

				<table class="table table-hover">
					<tr>
						<th id="boardCategory" style="width: 200px;" colspan="2">게시판
							변경 <select id="boardCategory" name="boardCategory">
								<option value="전체" th:selected="${boardCategory} == '전체'">전체</option>
								<option value="일상" th:selected="${boardCategory} == '일상'">일상</option>
								<option value="모임" th:selected="${boardCategory} == '모임'">같이해요(모집)</option>
								<option value="Tip" th:selected="${boardCategory} == 'Tip'">Tip공유</option>
						</select>
						</th>
					</tr>
					<tr>
						<th style="width: 30px;">제목</th>
						<td class="boardUpdateFormTd"><input type="text"
							name="boardTitle" id="title" th:value="${board.boardTitle}"
							style="width: 990px;"></td>
					</tr>
					<tr>
						<th>내용</th>
						<td class="boardUpdateFormTd"><textarea name="boardContents"
								style="width: 900px; height: 600px;" id="contents"
								th:text="${board.boardContents}"></textarea></td>
					</tr>
					<tr>
						<th>파일첨부</th>
						<td><input type="file" name="upload"> <span
							th:text="${board.boardImageOriginal}"></span></td>
					</tr>
					<tr>
						<td colspan="2" class="white center"><input type="submit"
							value="수정"></td>
					</tr>
				</table>
			</form>

		</div>

	</section>





	<!-- ****** Instagram Area Start ****** -->
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div
		class="instargram_area owl-carousel section_padding_100_0 clearfix"
		id="portfolio">

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/1.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/2.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/3.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/4.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/5.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/6.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/1.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/2.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- ****** Our Creative Portfolio Area End ****** -->

	<!-- ****** Footer Social Icon Area Start ****** -->
	<div class="social_icon_area clearfix">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer-social-area d-flex">
						<div class="single-icon">
							<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i><span>facebook</span></a>
						</div>
						<div class="single-icon">
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a>
						</div>
						<div class="single-icon">
							<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i><span>GOOGLE+</span></a>
						</div>
						<div class="single-icon">
							<a href="#"><i class="fa fa-linkedin-square"
								aria-hidden="true"></i><span>linkedin</span></a>
						</div>
						<div class="single-icon">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
						</div>
						<div class="single-icon">
							<a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i><span>VIMEO</span></a>
						</div>
						<div class="single-icon">
							<a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i><span>YOUTUBE</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ****** Footer Social Icon Area End ****** -->

	<!-- ****** Footer Menu Area Start ****** -->
	<footer class="footer_area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer-content">
						<!-- Logo Area Start -->
						<div class="footer-logo-area text-center">
							<a href="index.html" class="yummy-logo">Aimori</a>
						</div>
						<!-- Menu Area Start -->
						<nav class="navbar navbar-expand-lg">
							<button class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#yummyfood-footer-nav"
								aria-controls="yummyfood-footer-nav" aria-expanded="false"
								aria-label="Toggle navigation">
								<i class="fa fa-bars" aria-hidden="true"></i> Menu
							</button>
							<!-- Menu Area Start -->
							<div class="collapse navbar-collapse justify-content-center"
								id="yummyfood-footer-nav">
								<ul class="navbar-nav">
									<li class="nav-item active"><a class="nav-link" href="#">Home
											<span class="sr-only">(current)</span>
									</a></li>
									<li class="nav-item"><a class="nav-link" href="#">Features</a>
									</li>
									<li class="nav-item"><a class="nav-link" href="#">Categories</a>
									</li>
									<li class="nav-item"><a class="nav-link" href="#">Archive</a>
									</li>
									<li class="nav-item"><a class="nav-link" href="#">About</a>
									</li>
									<li class="nav-item"><a class="nav-link" href="#">Contact</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Copywrite Text -->
					<div class="copy_right_text text-center">
						<p>
							Copyright @2018 All rights reserved | This template is made with
							<i class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- ****** Footer Menu Area End ****** -->

	<!-- Jquery-2.2.4 js -->
	<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
	<!-- Popper js -->
	<script th:src="@{/js/bootstrap/popper.min.js}"></script>
	<!-- All Plugins JS -->
	<script th:src="@{/js/others/plugins.js}"></script>
	<!-- Active JS -->
	<script th:src="@{/js/active.js}"></script>
	<!--  type="application/js" -->

	<!-- test -->
	<script th:src="@{/ckeditor/build/ckeditor.js}"></script>
	<script>
		ClassicEditor.create(document.querySelector('#contents'));
	</script>
</body>