<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Title -->
<title>Board</title>

<!-- Favicon -->
<link rel="icon" th:href="@{/img/core-img/favicon.ico}">

<!-- Core Stylesheet -->
<link rel="stylesheet" th:href="@{/css/style.css}">

<!-- Responsive CSS -->
<link th:href="@{/css/responsive/responsive.css}" rel="stylesheet">

<!-- test -->
<link rel="stylesheet" type="text/css" th:href="@{/css/board/board.css}" />

<style>
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap')
	;
</style>

<style>
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap')
	;

*:not(i) {
	font-family: NotoSans;
}
</style>

<style>
.ck-editor__editable {
	height: 400px;
}

.ck-content {
	font-size: 12px;
}
</style>


<!-- test (페이지 함수) -->

<script>
	//글수정폼 유효성 검사
	function validation() {
		let title = document.getElementById('title');
		let contents = document.getElementById('contents');

		if (title.value.length < 2) {
			alert("제목을 입력하세요.");
			title.focus();
			title.select();
			return false;
		}
		if (contents.value.length < 2) {
			alert("내용을 입력하세요.");
			contents.focus();
			contents.select();
			return false;
		}
		return true;
	}
</script>

</head>

<body>
	<!-- Preloader Start -->
	<div id="preloader">
		<div class="yummy-load"></div>
	</div>

	<!-- ****** Top Header Area Start ****** -->
	<div class="top_header_area">
		<div class="container">
			<div class="row">
				<div class="col-5 col-sm-6"></div>
				<!--  Login Register Area -->
				<div class="col-7 col-sm-6">
					<div
						class="signup-search-area d-flex align-items-center justify-content-end">

						<div class="login_register_area d-flex">
							<div class="login" sec:authorize="not isAuthenticated()">
								<a th:href="@{/member/logIn}">로그인</a>
							</div>
							<div class="register" sec:authorize="not isAuthenticated()">
								<a th:href="@{/member/signIn}">회원가입</a>
							</div>
						</div>
						<div class="login_register_area d-flex">
							<div class="mypage" sec:authorize="isAuthenticated()"
								style="margin-left: 20px">
								<a sec:authorize="hasRole('ADMIN')" th:href="@{/administrator}"><b>관리자
										페이지</b></a>
							</div>
							<div class="mypage" sec:authorize="isAuthenticated()"
								style="margin-left: 10px">
								<a th:href="@{mypage/main}">마이페이지</a>
							</div>
							<div class="logout" sec:authorize="isAuthenticated()"
								style="margin-left: 10px;">
								<a th:href="@{/logout}">로그아웃</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ****** Top Header Area End ****** -->
	<!-- ****** Header Area Start ****** -->
	<header class="header_area">
		<div class="container">
			<div class="row">
				<!-- Logo Area Start -->
				<div class="col-12">
					<a th:href="@{/}" class="yummy-logo"> <img
						th:src="@{/img/bg-img/toplogo.jpg}" alt="">
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand-lg">
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#yummyfood-nav" aria-controls="yummyfood-nav"
						aria-expanded="false" aria-label="Toggle navigation">
						<i class="fa fa-bars" aria-hidden="true"></i> Menu
					</button>
					<!-- Menu Area Start -->
					<div class="collapse navbar-collapse justify-content-center"
						id="yummyfood-nav">
						<ul class="navbar-nav" id="yummy-nav">
							<li class="nav-item active"><a class="nav-link"
								th:href="@{/board/list}">커뮤니티 <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/qna/list}">Q&A <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/facilities}">시설</a></li>
							<li class="nav-item"><a class="nav-link" th:href="@{/challenge/challengelist}">챌린지</a></li>
										
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!-- ****** Header Area End ****** -->

	<!-- ****** Breadcumb Area Start ****** -->
	<div class="breadcumb-area"
		style="background-image: url(../img/board-img/community2.jpg);">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-12">
					<div class="bradcumb-title text-center">
						<h2>Aimori Community</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="breadcumb-nav">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/home}"><i
									class="fa fa-home" aria-hidden="true"></i>Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Aimori
								Community</li>
						</ol>
						<div class="pull-right">
							<a th:href="@{/board/list}">글목록</a>
						</div>
						<br>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- ****** Breadcumb Area End ****** -->

	<!-- ****** Archive Area Start ****** -->

	<section>
		<div class="container">
			<!-- 바이너리 데이터 포함되는 폼. enctype 반드시 정확히 지정 -->
			<form th:action="@{/board/update}" method="post"
				enctype="multipart/form-data" onsubmit="return validation();">

				<input type="hidden" name="boardNumber"
					th:value="${board.boardNumber}">

				<table class="table">
					<tr>
						<th id="boardCategory" style="width: 200px;" colspan="2">게시판
							변경 <select id="boardCategory" name="boardCategory">
								<option value="전체" th:selected="${boardCategory} == '전체'">전체</option>
								<option value="일상" th:selected="${boardCategory} == '일상'">일상</option>
								<option value="모임" th:selected="${boardCategory} == '모임'">같이해요(모집)</option>
								<option value="Tip" th:selected="${boardCategory} == 'Tip'">Tip공유</option>
						</select>
						</th>
					</tr>
					<tr>
						<th style="width: 30px;">제목</th>
						<td class="boardUpdateFormTd"><input type="text"
							name="boardTitle" id="title" th:value="${board.boardTitle}"
							style="width: 990px;"></td>
					</tr>
					<tr>
						<th>내용</th>
						<td class="boardUpdateFormTd"><textarea name="boardContents"
								style="width: 900px; height: 600px;" id="contents"
								th:text="${board.boardContents}"></textarea></td>
					</tr>
					<tr>
						<th>파일첨부</th>
						<td><input type="file" name="upload"> 
						<span th:text="${board.boardImageOriginal}"></span></td>
					</tr>
					<tr>
						<td colspan="2" class="white center"><input type="submit"
							value="수정"></td>
					</tr>
				</table>
			</form>

		</div>

	</section>





		<!-- ****** Instagram Area Start ****** -->
	<div style="height : 200px;"></div>
	<div
		class="instargram_area owl-carousel section_padding_100_0 clearfix"
		id="portfolio">

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/f1.jpg}" style="height: 240px" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<h4>Pug</h4>
							<br>
							<h6>
								수명: 12–15년<br> 성격: 영리한 고집스러운 매력적인<br> 체중: 6-10kg<br>
								출생지: 중국
							</h6>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/f2.jpg}" style="height: 240px" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<h4>Samoyed</h4>
							<br>
							<h6>
								수명: 12–14년<br> 성격: 생기있는 우호적인 사교적인<br> 체중: 수컷 20–30kg
								암컷 16–20kg<br> 출생지: 시베리아 러시아
							</h6>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/f3.jpg}" style="height: 240px" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<h4>Welsh Corgi</h4>
							<br>
							<h6>
								수명: 12–14년<br> 성격: 친절한 운동량이 좋은<br> 체중: 12-17kg<br>
								출생지: 영국
							</h6>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/f4.jpg}" style="height: 240px" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<h4>Chihuahua</h4>
							<br>
							<h6>
								수명: 12–20년<br> 성격: 민첩한 공격적인 용맹스러운<br> 체중: 1.8 - 2.7kg<br>
								출생지: 멕시코
							</h6>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/f5.jpg}" style="height: 240px" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<h4>Dachshund</h4>
							<br>
							<h6>
								수명: 12–16년<br> 성격: 독립심 헌신적인 생기있는<br> 체중: 7-15kg<br>
								출생지: 독일
							</h6>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/f6.jpg}" style="height: 240px" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<h4>Standard Poodle</h4>
							<br>
							<h6>
								수명: 12–15년<br> 성격: 총명한 훈련 능력이 뛰어난<br> 체중: 18-30kg<br>
								출생지: 프랑스 독일
							</h6>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/f7.jpg}" style="height: 240px" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<h4>Dalmatinac</h4>
							<br>
							<h6>
								수명: 10–13년<br> 성격: 외향적인 예민한 장난스러운<br> 체중: 15-32kg<br>
								출생지: 크로아티아
							</h6>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/f8.jpg}" style="height: 240px" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<h4>Beagle</h4>
							<br>
							<h6>
								수명: 12–15년<br> 성격: 쾌활한 총명한 쉽게 흥분하는 체중: 수컷 10–11kg 암컷 9–10kg<br>
								출생지: 영국
							</h6>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- ****** Our Creative Portfolio Area End ****** -->

	<!-- ****** Footer Menu Area Start ****** -->
	<footer class="footer_area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer-content">
						<!-- Logo Area Start -->
						<div class="footer-logo-area text-center">
							<a th:href="@{/}" class="yummy-logo"><img
								th:src="@{/img/bg-img/toplogo.jpg}" alt=""></a>
						</div>
						<!-- Menu Area Start -->
						<nav class="navbar navbar-expand-lg">
							<button class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#yummyfood-footer-nav"
								aria-controls="yummyfood-footer-nav" aria-expanded="false"
								aria-label="Toggle navigation">
								<i class="fa fa-bars" aria-hidden="true"></i> Menu
							</button>
							<!-- Menu Area Start -->
							<div class="collapse navbar-collapse justify-content-center"
								id="yummyfood-footer-nav">
								<ul class="navbar-nav">
									<li class="nav-item active"><a class="nav-link"
										th:href="@{/board/list}">커뮤니티 <span class="sr-only">(current)</span></a>
									</li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/qna/list}">Q&A <span class="sr-only">(current)</span></a>
									</li>
									<li class="nav-item"><a class="nav-link" th:href="@{/facilities}">시설</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/challenge/challengelist}">챌린지</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Copywrite Text -->
					<div class="copy_right_text text-center">
						<p>
							Copyright @2022 All rights reserved | This template is made with
							<i class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Aimori</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- ****** Footer Menu Area End ****** -->

	<!-- Jquery-2.2.4 js -->
	<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
	<!-- Popper js -->
	<script th:src="@{/js/bootstrap/popper.min.js}"></script>
	<!-- All Plugins JS -->
	<script th:src="@{/js/others/plugins.js}"></script>
	<!-- Active JS -->
	<script th:src="@{/js/active.js}"></script>
	<!--  type="application/js" -->

	<!-- test -->
	<script th:src="@{/ckeditor/build/ckeditor.js}"></script>
	<script>
		ClassicEditor.create(document.querySelector('#contents'));
	</script>
</body>