<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Title -->
<title>Board</title>

<!-- Favicon -->
<link rel="icon" th:href="@{/img/core-img/favicon.ico}">

<!-- Core Stylesheet -->
<link rel="stylesheet" th:href="@{/css/style.css}">

<!-- Responsive CSS -->
<link th:href="@{/css/responsive/responsive.css}" rel="stylesheet">

<!-- test -->
<link rel="stylesheet" type="text/css" th:href="@{/css/board/board.css}" />

<!-- test (페이지 함수) -->
<script>
	function pagingFormSubmit(currentPage) {

		var form = document.getElementById('pagingForm');
		var page = document.getElementById('page');
		page.value = currentPage;
		form.submit();
	}
</script>

<script>
	function search() {
		let searchWord = document.getElementById('searchWord').value;
		if (searchWord == '') {
			alert('검색어를 입력해주세요');
		} else {
			pagingFormSubmit(1);
		}

	}
</script>

<script>
$(document).ready(function() {
	$('#boardCategorySelect').change(search);
	search();
});

function boardCategorySearch() {
	let boardCategorySearch = $('#boardCategorySelect').val();
	
	$.ajax({
		url : 'search',
		type : 'post',
		data : {boardCategory:boardCategorySearch},
		dataType : 'json',
		success : output,
		error: function(e) {
			alert(JSON.stringify(e));
		}
	});
}

function output(list) {
	let str = '';
	
	str += '<table>';
	str += '<tr>';
	str += '	<th>번호</th>';
	str += '	<th>카테고리</th>';
	str += '	<th>제목</th>';
	str += '</tr>';
	
	$(list).each(function (i, ob) {
		str += '<tr>';
		str += '	<td>' + ob.boardnum + '</td>';
		str += '	<td>' + ob.category + '</td>';
		str += '	<td>' + ob.title + '</td>';
		str += '</tr>';
	});
	str += '</table>';

	$('#output').html(str);
}

</script>

</head>

<body>
	<!-- Preloader Start -->
	<div id="preloader">
		<div class="yummy-load"></div>
	</div>

	<!-- ****** Top Header Area Start ****** -->
	<div class="top_header_area">
		<div class="container">
			<div class="row">
				<div class="col-5 col-sm-6"></div>
				<!--  Login Register Area -->
				<div class="col-7 col-sm-6">
					<div
						class="signup-search-area d-flex align-items-center justify-content-end">

						<div class="login_register_area d-flex">
							<div class="login" sec:authorize="not isAuthenticated()">
								<a th:href="@{/member/logIn}">로그인</a>
							</div>
							<div class="register" sec:authorize="not isAuthenticated()">
								<a th:href="@{/member/signIn}">회원가입</a>
							</div>
						</div>
						<div class="login_register_area d-flex">
							<div class="mypage" sec:authorize="isAuthenticated()"
								style="margin-left: 20px">
								<a sec:authorize="hasRole('ADMIN')" th:href="@{/administrator}"><b>관리자
										페이지</b></a>
							</div>
							<div class="mypage" sec:authorize="isAuthenticated()"
								style="margin-left: 10px">
								<a th:href="@{mypage/main}">마이페이지</a>
							</div>
							<div class="logout" sec:authorize="isAuthenticated()"
								style="margin-left: 10px;">
								<a th:href="@{/logout}">로그아웃</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ****** Top Header Area End ****** -->
	<!-- ****** Header Area Start ****** -->
	<header class="header_area">
		<div class="container">
			<div class="row">
				<!-- Logo Area Start -->
				<div class="col-12">
					<a th:href="@{/}" class="yummy-logo"> <img
						th:src="@{/img/bg-img/toplogo.jpg}" alt="">
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand-lg">
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#yummyfood-nav" aria-controls="yummyfood-nav"
						aria-expanded="false" aria-label="Toggle navigation">
						<i class="fa fa-bars" aria-hidden="true"></i> Menu
					</button>
					<!-- Menu Area Start -->
					<div class="collapse navbar-collapse justify-content-center"
						id="yummyfood-nav">
						<ul class="navbar-nav" id="yummy-nav">
							<li class="nav-item active"><a class="nav-link"
								th:href="@{/board/list}">커뮤니티 <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/qna/list}">Q&A <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/facilities}">시설</a></li>
							<li class="nav-item"><a class="nav-link" th:href="@{/challenge/challengelist}">챌린지</a></li>
										
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!-- ****** Header Area End ****** -->

	<!-- ****** Breadcumb Area Start ****** -->
	<div class="breadcumb-area"
		style="background-image: url(../img/board-img/dog00.png);">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-12">
					<div class="bradcumb-title text-center">
						<h2>Aimori Community</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="breadcumb-nav">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/home}"><i
									class="fa fa-home" aria-hidden="true"></i>Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Aimori
								Community</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- ****** Breadcumb Area End ****** -->

	<!-- ****** Archive Area Start ****** -->

	<section>
		<!-- 글목록 출력 영역 -->
		<div class="container">

			<div th:if="${#lists.isEmpty(boardlist)}" style="padding: 200px;">
				<p style="font-size: 20px;">검색된 결과가 없습니다.</p>
			</div>
			<div th:unless="${#lists.isEmpty(boardlist)}">
				<table class="table table-hover" style="border-color: black;">
					<tr>
						<td style="text-align: center;">전체글 : <span
							th:text="${navi.totalRecordsCount}"></span>
						</td>
						<td class="white" colspan="6"><a
							th:href="@{/board/boardImage}">이미지</a> |<a
							th:href="@{/board/list}">전체글</a> |<a th:href="@{/board/hotList}">인기글</a></td>
					</tr>
					<tr style="background-color: rgb(228, 228, 228);">
						<th id="boardSearch"  style="width: 130px;">
							카테고리
						</th>
						<th style="width: 90px;" class="center">번호</th>
						<th class="center" style="width: 430px;">제목</th>
						<th class="center">작성자</th>
						<th style="text-align: center; width: 200px;">작성일</th>
						<th style="text-align: center; width: 100px;">조회</th>
						<th style="text-align: center; width: 110px;">좋아요<img
							th:src="@{/img/board-img/heart1.png}" width="20"></th>
					</tr>
					<tr th:each="board : ${boardlist}">
						<td class="center" th:text="${board.boardCategory}"></td>
						<td th:text="${board.boardNumber}" class="center"></td>
						<td>
							<div th:if="${board.boardImageSaved != null}">
								<a th:text="${board.boardTitle}"
									th:href="@{/board/read(boardNumber=${board.boardNumber})}"></a>
								<img th:src="@{/img/board-img/blankImage.png}" width="20">
								<a th:if="${board.replyCount != 0}"
									th:text="'[' + ${board.replyCount} + ']'"
									th:href="@{/board/read(boardNumber=${board.boardNumber})}"></a>
							</div>
							<div th:if="${board.boardImageSaved == null}">
								<a th:text="${board.boardTitle}"
									th:href="@{/board/read(boardNumber=${board.boardNumber})}"></a>
								<a th:if="${board.replyCount != 0}"
									th:text="'[' + ${board.replyCount} + ']'"
									th:href="@{/board/read(boardNumber=${board.boardNumber})}"></a>
							</div>
						</td>
						<td class="center">
							<a th:text="${board.memberNickName}"
								th:href="@{/board/read(boardNumber=${board.boardNumber})}"></a></td>
						<td style="text-align: center" th:text="${board.boardInputDate}"></td>
						<td style="text-align: center;" th:text="${board.boardHits}"></td>
						<td style="text-align: center;" th:text="${board.boardCount}"></td>
					</tr>
				</table>
			</div>
			<div class="text-right">
				<a class="btn btn-light"
					style="background-color: rgb(220, 220, 255);" colspan="6"
					sec:authorize="isAuthenticated()"
					th:href="@{/board/write}">글쓰기</a>
			</div>
		</div>

		<div id="navigator">

			<div th:unless="${#lists.isEmpty(boardlist)}">
				<!-- 페이지 이동 링크   -->
				<a
					th:href="|javascript:pagingFormSubmit(${navi.currentPage - navi.pagePerGroup})|">◁◁</a>
				<a th:href="|javascript:pagingFormSubmit(${navi.currentPage - 1})|">◀</a>

				<span
					th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
					<th:block th:if="${counter == navi.currentPage}">
						<b>
					</th:block> <a th:text="${counter}"
					th:href="|javascript:pagingFormSubmit(${counter})|"></a>&nbsp; <th:block
						th:if="${counter == navi.currentPage}">
						</b>
					</th:block>
				</span> <a th:href="|javascript:pagingFormSubmit(${navi.currentPage + 1})|">▶</a>
				<a
					th:href="|javascript:pagingFormSubmit(${navi.currentPage + navi.pagePerGroup})|">▷▷</a>
				<br> <br>
			</div>

			<!-- 검색폼 -->
			<form id="pagingForm" method="get" th:action="@{/board/list}">
				<input type="hidden" name="page" id="page" /> <select id="type"
					name="type">
					<option value="boardTitle" th:selected="${type} == 'boardTitle'">제목</option>
					<option value="boardContents"
						th:selected="${type} == 'boardContents'">본문</option>
					<option value="memberId" th:selected="${type} == 'memberId'">작성자ID</option>
					<option value="all" th:selected="${type} == 'all'">전체</option>
				</select> <input type="text" id="searchWord" name="searchWord"
					th:value="${searchWord}">
				<button class="btn btn-primary btn-sm" type="button" id="saveBtn"
					onclick="search();">검색</button>
			</form>

		</div>

	</section>


	<!-- ****** Instagram Area Start ****** -->
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div
		class="instargram_area owl-carousel section_padding_100_0 clearfix"
		id="portfolio">

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/1.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/2.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/3.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/4.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/5.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/6.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/1.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/2.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- ****** Our Creative Portfolio Area End ****** -->

	<!-- ****** Footer Menu Area Start ****** -->
	<footer class="footer_area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer-content">
						<!-- Logo Area Start -->
						<div class="footer-logo-area text-center">
							<a th:href="@{/}" class="yummy-logo"><img
								src="img/bg-img/toplogo.jpg" alt=""></a>
						</div>
						<!-- Menu Area Start -->
						<nav class="navbar navbar-expand-lg">
							<button class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#yummyfood-footer-nav"
								aria-controls="yummyfood-footer-nav" aria-expanded="false"
								aria-label="Toggle navigation">
								<i class="fa fa-bars" aria-hidden="true"></i> Menu
							</button>
							<!-- Menu Area Start -->
							<div class="collapse navbar-collapse justify-content-center"
								id="yummyfood-footer-nav">
								<ul class="navbar-nav">
									<li class="nav-item active"><a class="nav-link"
										th:href="@{/board/list}">커뮤니티 <span class="sr-only">(current)</span></a>
									</li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/qna/list}">Q&A <span class="sr-only">(current)</span></a>
									</li>
									<li class="nav-item"><a class="nav-link" th:href="@{/facilities}">시설</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/challenge/challengelist}">챌린지</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Copywrite Text -->
					<div class="copy_right_text text-center">
						<p>
							Copyright @2022 All rights reserved | This template is made with
							<i class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Aimori</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- ****** Footer Menu Area End ****** -->

	<!-- Jquery-2.2.4 js -->
	<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
	<!-- Popper js -->
	<script th:src="@{/js/bootstrap/popper.min.js}"></script>
	<!-- All Plugins JS -->
	<script th:src="@{/js/others/plugins.js}"></script>
	<!-- Active JS -->
	<script th:src="@{/js/active.js}"></script>
	<!--  type="application/js" -->

</body>