<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
div#all {
	text-align : center;	
}
table {
	margin : 0 auto;
	box-shadow: 5px 5px 3px lightgray;
}
th {
	width: 10vh;
	background-color: lightgray;
}
input#title {
	width: 50vh;
}
input#submit {
background: linear-gradient(#f1f1f1 0%, #ffffff 2px,  #eeeeee 100%);
}
textarea {
	height: 30vh;
	width: 50vh;
	resize: none;
}
</style>
<script type="text/javascript">
	function validation(){
		let title = document.querySelector("#title");
		let contents = document.getElementById("contents");
		let upload = document.getElementById("upload");
		
		if(title.value.length == 0){
			alert("제목을 입력해주세요");
			return false;
		}
		if(contents.value.length == 0){
			alert("내용을 입력해주세요");
			return false;
		}
		
		return true;
	}
</script>
</head>
<body>
	<div id="all">
		<h1>[ 글 수정 ]</h1>
		<form id="update" th:action="@{/board/update}" method="post" onsubmit="return validation()"
		enctype="multipart/form-data">
		<!-- form으로 파일(바이너리 타입 파일)을 보낼 때는 POST 방식이어야 함 / GET 방식은 문자 밖에 못 보냄 
			 파일을 보낼 떄는 enctype="multipart/form-data" 지정 필요-->
			 
			 <!-- 글번호, 회원 아이디 hidden로 form을 통해 Controller에 전달 -->
			<input type="hidden" name="boardnum" th:value="${board.boardnum}">
			<input type="hidden" name="memberid" th:value="${board.memberid}">
			
			<table>
				<tr>
					<th>제목</th>
					<td><input type="text" id="title" name="title" th:value="${board.title}"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td id="cont">
						<textarea id="contents" name="contents" th:text="${board.contents}"></textarea>
					</td>
				</tr>
				<tr>
					<th>파일첨부</th>
					<td>
						<input type="file" name = "upload" size="30"><br>
						<a th:text="${board.originalfile}" th:href="@{/board/download(boardnum=${board.boardnum})}"></a>
						<!-- () == ? -->
					</td>
				</tr>
			</table>
			<br>
			<input type="submit" id="submit">
		</form>
	</div>
</body>
</html>