<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>닉네임 중복검사</title>
<script>
function inputNN(id) {
	opener.document.getElementById('memberNickName').value = id;
	this.close();
}
</script>
</head>
<body>
<h2 style="text-align : center;">【 닉네임 중복검사 】</h2>
<section>
<form action="nNCheck" method="post">
	<label for="cNN">희망 닉네임</label>
		<input id="cNN" type="text" name="cNN" required="required" maxlength="20" style="width:190px;">
		<input id="checkbtn2" type="submit" value="검색">	
</form>

	<div th:if="${cNN != null}">
		<div th:if="${result}">
			<p>등록 가능한 닉네임입니다.</p>
			<input id="checkbtn3" type="submit" value="닉네임 사용" th:id="${cNN}" onclick="inputNN(this.getAttribute('id'))">	
		</div>
		<div th:if="${not result}">
			<p>이미 사용중인 닉네임입니다.</p>
		</div>
	</div>

</section>
</body>
</html>