<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>[도전과제 생성]</title>
<script>
	function validation() {
		let title = document.getElementById('title');
		let contents = document.getElementById('contents');

		if (challengeName.value.length < 5) {
			alert("도전과제의 이름은 5자이상으로 입력하세요.");
			challengeName.focus();
			challengeName.select();
			return false;
		}
		if (contents.value.length < 5) {
			alert("내용을 입력하세요.");
			contents.focus();
			contents.select();
			return false;
		}
		return true;
	}
</script>
</head>
<body>
	<h1>[도전과제 생성]</h1>
	<section>
		<form th:action="@{/challenge/challengewrite}" method="post"
			onsubmit="return validation();">

			<table>
				<tr>
					<th>도전과제 이름</th>
					<td><input type="text" name="challengeName" id="challengeName"
						style="width: 400px;"></td>
				</tr>
				<tr>
					<th>도전과제 내용</th>
					<td><textarea name="challengeContents" id="challengeContent"></textarea></td>
				</tr>
				<tr>
					<th>도전과제 개시일 (년 월 일로 8자리 숫자를 입력해주세요)</th>
					<td><input type="number" name="challengeStartDate" id="challengeStartDate"></textarea></td>
				</tr>
				<tr>
					<th>도전과제 종료일 (년 월 일로 8자리 숫자를 입력해주세요)</th>
					<td><input type="number" name="challengeEndDate" id="challengeEndDate"></textarea></td>
				</tr>
				<tr>
					<th>지급할 포인트</th>
					<td><input type="number" name="challPoint" id="challPoint"></textarea></td>
				</tr>
				<tr>
					<td colspan="2" class="white center"><input type="submit"
						value="저장"></td>
				</tr>
			</table>
		</form>
	</section>
</body>
</html>