<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>aimori</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

</head>
<body>
	<header>
		<h1>[ 도전과제 ]</h1>
	</header>
	<section>
		<table>
			<tr>
				<th style="width: 100px;">도전내용</th>
				<td th:text="${challenge.challengeName}" style="width: 600px;"></td>
			</tr>
			<tr>
				<th>도전내용</th>
				<td><pre th:text="${challenge.challengeContents}"></pre></td>
			</tr>
			<tr>
				<th>성공포인트</th>
				<td><pre th:text="${challenge.challPoint}"></pre></td>
			</tr>
			<tr>
				<th>도전시작일</th>
				<td th:text="${challenge.challengeStartDate}"></td>
				<th>도전 끝나는일</th>
				<td th:text="${challenge.challengeEndDate}"></td>

			</tr>
			<tr>
				<th>도전 등록일</th>
				<td th:text="${challenge.challengeRegistDay}"></td>
			</tr>
			<tr>
			</tr>

		</table>
		<br> <a sec:authorize="hasRole('ADMIN')"
			th:href="@{/challege/challengeupdate(challengeNumber=${challenge.challengeNumber})}">수정</a>
		<br>

		<!-- 관리자만 보임 -->

		<table sec:authorize="hasRole('ADMIN')">
			<tr>
				</td>
				<td class="white" colspan="3"></td>
				<td class="head"></td>
			</tr>
			<tr>
				<th>신청번호</th>
				<th>도전자명</th>
				<th>도전성공여부</th>
				<th>지급한 포인트</th>
				<th>지급 날짜</th>

			</tr>
			<tr th:each="entrylist : ${entrylist}">
				<td th:text="${entrylist.entrylistNumber}" class="center"></td>
				<td><a th:text="${entrylist.memberId}"></a></td>
				<td th:text="${entrylist.challengeSuccess}" class="center"></td>
				<td th:text="${entrylist.getPoint}"></td>
				<td th:text="${entrylist.getPointDate}"></td>
				<td><a th:if="${entrylist.getPoint}==0"
					th:href="@{/challenge/challengegivepoint(entrylistNumber=${entrylist.entrylistNumber},point=${challenge.challPoint},memberId=${entrylist.memberId},challengeNumber=${challenge.challengeNumber})}"
					>포인트지급</a></td>
			</tr>
		</table>



		<!-- 리플 목록 출력 시작 -->

	</section>
</body>
</html>
