<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!-- Title -->
	<title>Aimori</title>

	<!-- Favicon -->
	<link rel="icon" th:href="@{/img/core-img/favicon.ico}">

	<!-- Core Stylesheet -->
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<!-- Responsive CSS -->
	<link th:href="@{/css/responsive/responsive.css}" rel="stylesheet">

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
	</style>

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

		*:not(i) {
			font-family: NotoSans;
		}

		.weather-wrap {
			width: 100%;
			position: relative;
		}

		.weather-text {
			position: absolute;
			top: 5%;
			width: 100%;
			font-size: 5px;
			text-align: center;
		}
	</style>


<script>
function pagingFormSubmit(currentPage) {
	var form = document.ElementById('pagingForm');
	var page = document.ElementById('page');
	page.value = currentPage;
	form.submit();
}
</script>

</head>

<body>
<!-- Preloader Start -->
	<div id="preloader">
		<div class="yummy-load"></div>
	</div>

	<!--     Background Pattern Swither
    <div id="pattern-switcher">
        Bg Pattern
    </div>
    <div id="patter-close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div> -->

	<!-- ****** Top Header Area Start ****** -->
	<div class="top_header_area">
		<div class="container">
			<div class="row">
				<div class="col-5 col-sm-6">

				</div>
				<!--  Login Register Area -->
				<div class="col-7 col-sm-6">
					<div class="signup-search-area d-flex align-items-center justify-content-end">

						
						
						<div class="login_register_area d-flex">
							<div class="login" sec:authorize="not isAuthenticated()">
								<a href="member/logIn">로그인</a>
							</div>
							<div class="register" sec:authorize="not isAuthenticated()">
								<a href="member/signIn">회원가입</a>
							</div>
						</div>
						<div class="login_register_area d-flex">
							<div class="mypage" sec:authorize="isAuthenticated()"
								style="margin-left: 20px">
								<a sec:authorize="hasRole('ADMIN')" th:href="@{/administrator}"><b>관리자 페이지</b></a>
							</div>
							<div class="mypage" sec:authorize="isAuthenticated()" style="margin-left: 10px">
								<a th:href="@{mypage/main}">마이페이지</a>
							</div>
							<div class="logout" sec:authorize="isAuthenticated()" style="margin-left: 10px;">
								<a th:href="@{logout}">로그아웃</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ****** Top Header Area End ****** -->

		<!-- ****** Header Area Start ****** -->
	<header class="header_area">
		<div class="container">
			<div class="row">
				<!-- Logo Area Start -->
				<div class="col-12">
					<a th:href="@{/}" class="yummy-logo">
						<img src="img/bg-img/toplogo.jpg" alt=""> 
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand-lg">
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#yummyfood-nav" aria-controls="yummyfood-nav"
						aria-expanded="false" aria-label="Toggle navigation">
						<i class="fa fa-bars" aria-hidden="true"></i> Menu
					</button>
					<!-- Menu Area Start -->
					<div class="collapse navbar-collapse justify-content-center"
						id="yummyfood-nav">
						<ul class="navbar-nav" id="yummy-nav">
							<li class="nav-item active"><a class="nav-link"
								th:href="@{/board/list}">커뮤니티 <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/qna/list}">Q&A <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/facilities}">시설</a></li>
							<li class="nav-item"><a class="nav-link" href="#">상품</a></li>
							<li>
							<div class="dropdown">
								<span class="dropbtn">챌린지</span>
								<div class="dropdown-content">
									<a th:href="@{/challenge/challengelist}">도전과제</a>
									 <a th:href="@{/challenge/contestlist}">대회</a>
								</div>
							</div>
							</li>
							<li class="nav-item"><a class="nav-link" href="#">포인트상점</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!-- ****** Header Area End ****** -->s

	<!-- ****** Breadcumb Area Start ****** -->
	<div class="breadcumb-area"
		style="background-image: url(../img/bg-img/breadcumb.jpg);">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-12">
					<div class="bradcumb-title text-center">
						<h2>Aimori challenge</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="breadcumb-nav">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/home}"><i
									class="fa fa-home" aria-hidden="true"></i>Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Aimori
								Challenge</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- ****** Breadcumb Area End ****** -->

	<!-- ****** Archive Area Start ****** -->
	<header>
   <h1>[도전과제]</h1>
</header>
<section>
	<!-- 글목록 출력 영역 -->
	<table>
		<tr>
			<td class="white">
				전체 <span th:text="${chnavi.totalRecordsCount}"></span>
			</td>
			
		</tr>
		<tr>
			<th>글번호</th>
			<th style="width:220px;">제목</th>
			<th>신청자수</th>
			<th>작성일</th>
			<th>대회시작일</th>
			<th>대회종료일</th>
		</tr>
		<tr th:each="challenge : ${challengelist}">
			<td th:text="${challenge.challengeNumber}" class="center"></td>
			<td>
				<a th:text="${challenge.challengeName}" th:href="@{/challenge/challengeread(challengeNumber=${challenge.challengeNumber})}"></a>
			</td>
			<td th:text="${challenge.challengeRegistDay}" class="center"></td>
			<td th:text="${challenge.challengeStartDate}"></td>
			<td th:text="${challenge.challengeEndDate}"></td>
		</tr>
	</table>
	<div id="navigator">
	<!-- 페이지 이동 링크 -->     
	<a th:href="|javascript:pagingFormSubmit(${chnavi.currentPage - chnavi.pagePerGroup})|">◁◁</a>
	<a th:href="|javascript:pagingFormSubmit(${chnavi.currentPage - 1})|">◀</a> 
	<span th:each="counter : ${#numbers.sequence(chnavi.startPageGroup, chnavi.endPageGroup)}"> 
		<th:block th:if="${counter == chnavi.currentPage}"><b></th:block>
			<a th:text="${counter}" th:href="|javascript:pagingFormSubmit(${counter})|"></a>&nbsp;
		<th:block th:if="${counter == chnavi.currentPage}"></b></th:block>
	</span>
	
	<a th:href="|javascript:pagingFormSubmit(${chnavi.currentPage + 1})|">▶</a> 
	<a th:href="|javascript:pagingFormSubmit(${chnavi.currentPage + chnavi.pagePerGroup})|">▷▷</a>
	<br><br>
	
	<!-- 검색폼 -->
	<form id="pagingForm" method="get" th:action="@{/challenge/challengelist}">
		<input type="hidden" name="page" id="page" />
		<select id="type" name="type">
			<option value="title" th:selected="${chtype} == 'title'">제목</option>
					<option value="all" th:selected="${chtype} == 'all'">전체</option>
		</select>
		<input type="text"  name="searchWord" th:value="${chsearchWord}">
		<input type="button" onclick="pagingFormSubmit(1)" value="검색">
	</form>
	
	</div>
	
</section>


   <div class="text-right">
      <a  sec:authorize="hasRole('ADMIN')" class="btn btn-light" style="background-color: rgb(220, 220, 255);"
         colspan="6" th:href="@{/challenge/challengewrite}">글쓰기</a>
   </div>

<!-- ****** Archive Area End ****** -->
	
	<div id="needMargin"></div>
	
	<!-- ****** Instagram Area Start ****** -->
	<div
		class="instargram_area owl-carousel section_padding_100_0 clearfix"
		id="portfolio">

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img src="img/instagram-img/1.jpg" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img src="img/instagram-img/2.jpg" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img src="img/instagram-img/3.jpg" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img src="img/instagram-img/4.jpg" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img src="img/instagram-img/5.jpg" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img src="img/instagram-img/6.jpg" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img src="img/instagram-img/1.jpg" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img src="img/instagram-img/2.jpg" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- ****** Our Creative Portfolio Area End ****** -->

	<!-- ****** Footer Menu Area Start ****** -->
	<footer class="footer_area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer-content">
						<div class="footer-content">
							<!-- Logo Area Start -->
							<div class="footer-logo-area text-center">
								<a th:href="@{/}" class="yummy-logo"><img th:src="@{img/bg-img/toplogo.jpg}" alt=""></a>
							</div>
							<!-- Menu Area Start -->
							<nav class="navbar navbar-expand-lg">
								<button class="navbar-toggler" type="button"
									data-toggle="collapse" data-target="#yummyfood-footer-nav"
									aria-controls="yummyfood-footer-nav" aria-expanded="false"
									aria-label="Toggle navigation">
									<i class="fa fa-bars" aria-hidden="true"></i> Menu
								</button>
								<!-- Menu Area Start -->
								<div class="collapse navbar-collapse justify-content-center"
									id="yummyfood-footer-nav">
									<ul class="navbar-nav">
										<li class="nav-item active"><a class="nav-link"
											th:href="@{/board/list}">커뮤니티 <span class="sr-only">(current)</span></a>
										</li>
										<li class="nav-item"><a class="nav-link"
											th:href="@{/qna/list}">Q&A <span class="sr-only">(current)</span></a>
										</li>
										<li class="nav-item"><a class="nav-link"
											th:href="@{/facilities}">시설</a></li>
										<li class="nav-item"><a class="nav-link" href="#">상품</a></li>
										<li>
											<div class="dropdown">
												<span class="dropbtn">챌린지</span>
												<div class="dropdown-content">
													<a th:href="@{/challenge/challengelist}">도전과제</a> <a
														th:href="@{/challenge/contestlist}">대회</a>
												</div>
											</div>
										</li>
										<li class="nav-item"><a class="nav-link" href="#">포인트상점</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Copywrite Text -->
					<div class="copy_right_text text-center">
						<p>
							Copyright @2018 All rights reserved | This template is made with
							<i class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- ****** Footer Menu Area End ****** -->

	<!-- Jquery-2.2.4 js -->
	<script th:src="@{js/jquery/jquery-2.2.4.min.js}"></script>
	<!-- Popper js -->
	<script th:src="@{js/bootstrap/popper.min.js}"></script>
	<!-- All Plugins JS -->
	<script th:src="@{js/others/plugins.js}"></script>
	<!-- Active JS -->
	<script th:src="@{js/active.js}"></script>
</body>