<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JS/JQuery/Ajax</title>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script type="text/javascript">
	function calc(){
		location.href="/web/jq/calculator";
	}
</script>
</head>
<body>
	<h1>[ JavaScript / JQuery / Ajax ]</h1>
	<ol>
		<li>JavaScript
			<ul>
				<li><a th:href="@{/js/js1}">JavaScript 기본 문법 1</a></li>
				<li><a th:href="@{/js/js2}">JavaScript 내장 객체</a></li>
				<li><a th:href="@{/js/js3}">JavaScript 기타 함수</a></li>
			</ul>
			<hr>
		</li>
		<li>JQuery
			<ul>
				<li><a th:href="@{/jq/jq1}">JQuery 기본 문법, 선택자</a></li>
				<li><a th:href="@{/jq/jq2}">JQuery 이벤트 처리</a></li>
				<li><a th:href="@{/jq/jq3}">문서 객체 조작 메소드</a></li>
				<li><a th:href="@{/jq/jq4}">Each문</a></li>
				<li><a th:href="@{/jq/jq5}">예제</a></li>
				<li><a th:href="@{/jq/calculator}">계산기_내가 한 것</a></li>
				<li><a th:href="@{/jq/jq6}">효과</a></li>
				<li>
					<hr>
					<a th:href="@{/jq/calc1}">계산기_선생님이 한 것 1</a>
				</li>
				<li><a th:href="@{/jq/calc2}">계산기_선생님이 한 것 2</a></li>
			</ul>
			<hr>
		</li>
		<li>
				<input type="button" id="calc" value="계산기" onclick="calc()"><hr>
		</li>
		<li>Ajax
			<ul>
				<li><a th:href="@{/ajax/ajax1}">Ajax 요청과 응답</a></li>
				<li><a th:href="@{/ajax/ajax2}">Ajax 객체 보내고 받기</a></li>
				<li><a th:href="@{/ajax/recommend}">추천 기능</a></li>
				<li><a th:href="@{/ajax/comment}">댓글</a></li>
				<li><a th:href="@{/ajax/joinIn}">회원가입에 여러 기능 추가</a></li>
			</ul>
		</li>
	</ol>
	
</body>
</html>