<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Title -->
<title>Q&A</title>

<!-- Favicon -->
<link rel="icon" th:href="@{/img/core-img/favicon.ico}">

<!-- Core Stylesheet -->
<link rel="stylesheet" th:href="@{/css/style.css}">

<!-- Responsive CSS -->
<link th:href="@{/css/responsive/responsive.css}" rel="stylesheet">

<!-- BootStrap4 added by San-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<!-- test -->
<link rel="stylesheet" type="text/css" th:href="@{/css/board/board.css}" />

<style>
.ck-editor__editable {
	height: 400px;
}

.ck-content {
	font-size: 12px;
}
</style>

<script>
	//글쓰기폼 확인
	function validation() {
		let title = document.getElementById('questionTitle');
		let contents = document.getElementById('questionContents');

		if (title.value.length < 2) {
			alert("제목을 입력하세요.");
			title.focus();
			title.select();
			return false;
		}
		if (contents.value.length < 2) {
			alert("내용을 입력하세요.");
			contents.focus();
			contents.select();
			return false;
		}
		return true;
	}
</script>



</head>

<body>
	<!-- Preloader Start -->
	<div id="preloader">
		<div class="yummy-load"></div>
	</div>

	<!-- ****** Top Header Area Start ****** -->
	<div class="top_header_area">
		<div class="container">
			<div class="row">
				<div class="col-5 col-sm-6"></div>
				<!--  Login Register Area -->
				<div class="col-7 col-sm-6">
					<div
						class="signup-search-area d-flex align-items-center justify-content-end">

						<div class="login_register_area d-flex">
							<div class="login" sec:authorize="not isAuthenticated()">
								<a th:href="@{/member/logIn}">로그인</a>
							</div>
							<div class="register" sec:authorize="not isAuthenticated()">
								<a th:href="@{/member/signIn}">회원가입</a>
							</div>
						</div>
						<div class="login_register_area d-flex">
							<div class="mypage" sec:authorize="isAuthenticated()"
								style="margin-left: 20px">
								<a sec:authorize="hasRole('ADMIN')" th:href="@{/administrator}"><b>관리자
										페이지</b></a>
							</div>
							<div class="mypage" sec:authorize="isAuthenticated()"
								style="margin-left: 10px">
								<a th:href="@{mypage/main}">마이페이지</a>
							</div>
							<div class="logout" sec:authorize="isAuthenticated()"
								style="margin-left: 10px;">
								<a th:href="@{/logout}">로그아웃</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ****** Top Header Area End ****** -->
	<!-- ****** Header Area Start ****** -->
	<header class="header_area">
		<div class="container">
			<div class="row">
				<!-- Logo Area Start -->
				<div class="col-12">
					<a th:href="@{/}" class="yummy-logo"> <img
						th:src="@{/img/bg-img/toplogo.jpg}" alt="">
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand-lg">
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#yummyfood-nav" aria-controls="yummyfood-nav"
						aria-expanded="false" aria-label="Toggle navigation">
						<i class="fa fa-bars" aria-hidden="true"></i> Menu
					</button>
					<!-- Menu Area Start -->
					<div class="collapse navbar-collapse justify-content-center"
						id="yummyfood-nav">
						<ul class="navbar-nav" id="yummy-nav">
							<li class="nav-item active"><a class="nav-link"
								th:href="@{/board/list}">커뮤니티 <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/qna/list}">Q&A <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/facilities}">시설</a></li>
							<li class="nav-item"><a class="nav-link" th:href="@{/challenge/challengelist}">챌린지</a></li>
										
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!-- ****** Header Area End ****** -->

	<!-- ****** Breadcumb Area Start ****** -->
	<div class="breadcumb-area"
		style="background-image: url(../img/board-img/medical.png);">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-12">
					<div class="bradcumb-title text-center">
						<h2>Aimori QnA</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="breadcumb-nav">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/}"><i
									class="fa fa-home" aria-hidden="true"></i>Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Aimori
								Community</li>
						</ol>
						<div class="pull-right">
							<a th:href="@{/qna/list}">글목록</a>
						</div>
						<br>
						<br>
						<ol>
							<li><h5 id="temp1" colspan="2">글쓰기</h5></li>
						</ol>
						<hr>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- ****** Breadcumb Area End ****** -->

	<!-- ****** Archive Area Start ****** -->

	<section>
		<div class="container">
			<form th:action="@{/qna/write}" method="post"
				enctype="multipart/form-data" onsubmit="return validation();">
				<table class="table">
					<tr>
						<th id="questionCategory" style="width: 200px;" colspan="2">게시판
							선택 <select id="questionCategory" name="questionCategory">
								<option value="일반" th:selected="${questionCategory} == '일반'">일반</option>
								<option value="의료" th:selected="${questionCategory} == '의료'">의료</option>
						</select>
						</th>
					</tr>
					<tr>
						<th style="width: 30px;">제목</th>
						<td class="questionWriteFormTd"><input type="text"
							name="questionTitle" id="questionTitle" style="width: 990px;">
						</td>
					</tr>
					<tr>
						<th>파일첨부</th>
						<td><input type="file" name="upload"></td>
					</tr>
					<tr>
						<th>내용</th>
						<td class="questionWriteFormTd">
							<textarea name="questionContents"
								id="questionContents" style="width: 900px; height: 600px;">
							</textarea>
						</td>
					</tr>

					<tr>
						<td colspan="2" class="white center"><input type="submit"
							value="글등록"></td>
					</tr>
				</table>
			</form>
		</div>

	</section>



	<!-- ****** Instagram Area Start ****** -->
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div
		class="instargram_area owl-carousel section_padding_100_0 clearfix"
		id="portfolio">

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/1.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/2.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/3.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/instagram-img/4.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/5.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/6.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/1.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Instagram Item -->
		<div class="instagram_gallery_item">
			<!-- Instagram Thumb -->
			<img th:src="@{/img/instagram-img/2.jpg}" alt="">
			<!-- Hover -->
			<div class="hover_overlay">
				<div class="yummy-table">
					<div class="yummy-table-cell">
						<div class="follow-me text-center">
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
								Follow me</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- ****** Our Creative Portfolio Area End ****** -->

	<!-- ****** Footer Menu Area Start ****** -->
	<footer class="footer_area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer-content">
						<!-- Logo Area Start -->
						<div class="footer-logo-area text-center">
							<a th:href="@{/}" class="yummy-logo"><img
								src="img/bg-img/toplogo.jpg" alt=""></a>
						</div>
						<!-- Menu Area Start -->
						<nav class="navbar navbar-expand-lg">
							<button class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#yummyfood-footer-nav"
								aria-controls="yummyfood-footer-nav" aria-expanded="false"
								aria-label="Toggle navigation">
								<i class="fa fa-bars" aria-hidden="true"></i> Menu
							</button>
							<!-- Menu Area Start -->
							<div class="collapse navbar-collapse justify-content-center"
								id="yummyfood-footer-nav">
								<ul class="navbar-nav">
									<li class="nav-item active"><a class="nav-link"
										th:href="@{/board/list}">커뮤니티 <span class="sr-only">(current)</span></a>
									</li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/qna/list}">Q&A <span class="sr-only">(current)</span></a>
									</li>
									<li class="nav-item"><a class="nav-link" th:href="@{/facilities}">시설</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/challenge/challengelist}">챌린지</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Copywrite Text -->
					<div class="copy_right_text text-center">
						<p>
							Copyright @2022 All rights reserved | This template is made with
							<i class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Aimori</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- ****** Footer Menu Area End ****** -->

	<!-- Jquery-2.2.4 js -->
	<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
	<!-- Popper js -->
	<script th:src="@{/js/bootstrap/popper.min.js}"></script>
	<!-- All Plugins JS -->
	<script th:src="@{/js/others/plugins.js}"></script>
	<!-- Active JS -->
	<script th:src="@{/js/active.js}"></script>
	<!--  type="application/js" -->

	<!-- test -->
	<script th:src="@{/ckeditor/build/ckeditor.js}"></script>
	<script>
		ClassicEditor.create(document.querySelector('#questionContents'));
	</script>

</body>